/*
#grid-container {


    display: grid;
    height: 100vh;
    width: 100%;
    justify-items: start;
    align-items: enc;
}*/
*{
    margin: 0;
    padding: 0;
}  
body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 2fr 2fr 2fr;
    place-items: center;
    justify-self: start;
    column-gap: 20px;
    row-gap: 100px;
    margin: 20px;
}
img {
    justify-self: start;
    width: 250px;
    height: 250px ;
    display: grid;
    grid-template-rows: 7fr 1fr 2fr;
    place-items: center;
}
section {
    place-items: center;
}